body {
    text-align: center;
}

.red {
    color: #a3303a;
}

.blue {
    color:#0d0bb7;
}

.show-phone-checkbox {
    text-align: center;
    padding: 10px;
}

table {
    margin: 0 auto;
    border: 1 px solid gray;
}

thead {
    font-weight: bold;
    font-size: larger;
}

.add-contact-form {
    width: 400px;
    margin: 0 auto;
}

.add-contact-form div {
    text-align: left;
}

.add-contact-form input {
    width: 250px;
    margin: 10px 10px 10px 0;
    padding: 5px;
}

form {
    margin-top: 10px;
}
